@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black-lightbox: hsla(0, 0%, 0%, 0.75);
}


body,
html {
    width: 100%;
    height: 100vh;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--white);
}

body.scroll_enabled {
    overflow-y: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.side_component {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.414);
}

.side_component.close {
    display: none;
}

.side_component .side_menu {
    width: 250px;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding: 30px;
    -webkit-user-select: none;
    user-select: none;
}

.side_component .side_menu .side_menu_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side_component .side_menu .side_menu_head .side_head_close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.side_component .side_menu .side_menu_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side_component .side_menu .side_menu_body ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.side_component .side_menu .side_menu_body ul a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-weight: bold;
    font-size: 1.1rem;
}

header {
    width: 100%;
}

.header_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid var(--grayish-blue);
    padding: 20px 0px;
    -webkit-user-select: none;
    user-select: none
}

.header_wrapper nav .menu_icon {
    background-color: transparent;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_wrapper nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    height: 100%;
}

.header_wrapper nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    height: 100%;
    list-style-type: none;
}

.header_wrapper nav ul a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    height: 100%;
}

.header_wrapper nav ul li {
    position: relative;
    height: 100%;
    display: inline-block;
}

.header_wrapper nav ul li::after {
    position: absolute;
    content: " ";
    left: 0;
    bottom: -190%;
    width: 0%;
    height: 3px;
    background-color: var(--orange);
    transform-origin: left;
    transition: all .3s ease;
}

.header_wrapper nav ul li:hover::after {
    width: 100%;
    transform-origin: right;
}

.header_wrapper .cart_and_login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
}

.header_wrapper .cart_and_login .cart_icon {
    position: relative;
}

.header_wrapper .cart_and_login .cart_icon .items_purchase {
    position: absolute;
    top: -12px;
    right: -23px;
    width: 24px;
    height: 15px;
    background-color: var(--orange);
    border-radius: 5px;
    font-size: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_wrapper .cart_and_login .cart_icon .items_purchase.close {
    display: none;
}

.header_wrapper .cart_and_login .cart_icon img {
    cursor: pointer;
}

.header_wrapper .cart_and_login .cart_icon .cart_items {
    position: absolute;
    top: 60px;
    right: -100px;
    width: 350px;
    height: 180px;
    background-color: var(--white);
    box-shadow: 0px 9px 8px 5px rgba(0, 0, 0, 0.119);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1000;
}

.header_wrapper .cart_and_login .cart_icon .cart_items.close {
    display: none;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_head {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 3px solid var(--light-grayish-blue);
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-grayish-blue);
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_empty.close {
    display: none;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase.close {
    display: none;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head {
    width: 100%;
    display: grid;
    grid-template-columns: 45px auto 45px;
    place-items: center;
    column-gap: 10px;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_product img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_desc .list_head_desc_title {
    font-size: .90rem;
    text-transform: capitalize;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_desc .list_head_desc_price {
    display: flex;
    column-gap: 10px;
    font-size: .90rem;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_desc .list_head_desc_price .list_price {
    font-size: .90rem;
    display: flex;
    column-gap: 10px;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .list_head_desc .list_head_desc_price .list_amount {
    font-weight: bold;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_items_list_head .cart_items_delete_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_item_list_purchase_btn {
    width: 100%;
    height: 40px;
    color: var(--black-lightbox);
    background-color: var(--orange);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .90rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease-out;
}

.header_wrapper .cart_and_login .cart_icon .cart_items .cart_items_list_purchase .cart_item_list_purchase_btn:hover {
    background-color: var(--pale-orange);
}

.header_wrapper .cart_and_login .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    width: 100%;
}

main .slider_mobile {
    position: relative;
    width: 100%;
    height: 400px;
    display: none;
}

main .slider_mobile .slider_mobile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-orientation: from-image;
}

main .slider_mobile .slider_mobile_controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}

main .slider_mobile .slider_mobile_controls .slider_controls_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    margin: 0 -15px;
    cursor: pointer;
    transition: height .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main .slider_mobile .slider_mobile_controls .slider_controls_btn:active {
    transform: scale(.9);
}

.main_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 40px 0px;
}

.main_wrapper .gallery_sneakers {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.main_wrapper .gallery_sneakers img.gallery_selected {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.main_wrapper .gallery_sneakers .gallery_options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.main_wrapper .gallery_sneakers .gallery_options img.images_options {
    width: 120px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.main_wrapper .gallery_sneakers .gallery_options img.images_options.effect {
    border: 3px solid var(--orange);
    filter: grayscale(1);
}

.main_wrapper section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    row-gap: 30px;
}

.main_wrapper section .description_sneaker_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    row-gap: 12px;
}

.main_wrapper section .description_sneaker_header span {
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: bold;
}

.main_wrapper section .description_sneaker_header h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black-lightbox);
}

.main_wrapper section .description_sneaker_body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    row-gap: 15px;
}

.main_wrapper section .description_sneaker_body p {
    color: var(--dark-grayish-blue);
    text-align: justify;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.9rem;
}

.main_wrapper section .description_sneaker_body .price_area {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.main_wrapper section .description_sneaker_body .price_area .current_price_area {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.main_wrapper section .description_sneaker_body .price_area .current_price_area .current_price {
    font-size: 2.3rem;
    font-weight: bold;
    color: #000000;
}

.main_wrapper section .description_sneaker_body .price_area .current_price_area .discount {
    width: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: var(--white);
    font-size: .95rem;
    font-weight: bold;
    border-radius: 5px;
}

.main_wrapper section .description_sneaker_body .price_area .ancient_price {
    color: var(--dark-grayish-blue);
    font-weight: bold;
    text-decoration: line-through;
}

.main_wrapper section .description_sneaker_body .buy_items_area {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 15px;
    -webkit-user-select: none;
    user-select: none;
}

.main_wrapper section .description_sneaker_body .buy_items_area .add_items_qtde {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--light-grayish-blue);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.041);
}

.main_wrapper section .description_sneaker_body .buy_items_area .add_items_qtde .visor_qtde {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}

.main_wrapper section .description_sneaker_body .buy_items_area .add_items_qtde button {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main_wrapper section .description_sneaker_body .buy_items_area .btn_add_cart {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    cursor: pointer;
    transition: all .5s ease-out;
}

.main_wrapper section .description_sneaker_body .buy_items_area .btn_add_cart:hover {
    background-color: var(--pale-orange);
}

.slider_component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.414);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_component.close {
    display: none;
}

.slider_component .slider_close {
    align-self: flex-start;
    margin-top: 35px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider_component .slider {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    -webkit-user-select: none;
    user-select: none;
}

.slider_component .slider .slider_head {
    position: relative;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.slider_component .slider .slider_head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider_component .slider .slider_head .slider_buttons {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_component .slider .slider_head .slider_buttons button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    margin: 0 -15px;
    cursor: pointer;
    transition: height .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slider_component .slider .slider_head .slider_buttons button:active {
    transform: scale(.9);
}

.slider_component .slider .slider_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.slider_component .slider .slider_body .slider_body_images {
    width: 120px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.slider_component .slider .slider_body .slider_body_images.effect {
    border: 3px solid var(--orange);
    filter: grayscale(1);
}